.jFont {
    font-family:'Kaushan Script', cursive;
    text-decoration: none;
    color: white !important;
}
.jmFont {
    font-family: 'Amita', cursive;
    color: white;
}
.fontColor {
    text-decoration: none; 
    color: white !important;
}
.form-group2 {
    padding: 3em;
}
